---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import TAILWIND from "./icons/Tailwind.astro";
import REACT from "./icons/React.astro";
import ASTRO from "./icons/AstroMD.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import Angular from "./icons/Angular.astro";
import NodeJS from "./icons/NodeJS.astro";
import Python from "./icons/Python.astro";
import VTEX from "./icons/Vtex.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#192F5A] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#192F5A] text-white",
    icon: CSS,
  },
  TAILWIND: {
    name: "TAILWIND",
    class: "bg-[#192F5A] text-white",
    icon: TAILWIND,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#192F5A] text-white",
    icon: JavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#192F5A] text-white",
    icon: TypeScript,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#192F5A] text-white",
    icon: REACT,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#192F5A] text-white",
    icon: Angular,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#192F5A] text-white",
    icon: ASTRO,
  },
  VTEX: {
    name: "Vtex IO",
    class: "bg-[#192F5A] text-white",
    icon: VTEX,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-[#192F5A] text-white",
    icon: NodeJS,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#192F5A] text-white",
    icon: Python,
  },
};
const PROJECTS = [
  {
    title: "Clon Mercado Libre",
    description: "WEB",
    link: "https://clon-mercado-libre.netlify.app/",
    github: "https://github.com/DemcCode/clon-mercadolibre",
    image: "/projects/app-mercado-libre.jpg",
    tags: [
      TAGS.CSS,
      TAGS.TAILWIND,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.REACT,
    ],
  },
  {
    title: "Bancolombia Personas",
    description: "WEB",
    link: "https://www.bancolombia.com/personas",
    image: "/projects/app-bancolombia-personas.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT, TAGS.ANGULAR],
  },
  {
    title: "Tienda Juan Valdez",
    description: "WEB",
    link: "https://www.tiendajuanvaldez.com/",
    image: "/projects/app-juan-valdez.png",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.REACT,
      TAGS.VTEX,
    ],
  },
  {
    title: "Tienda Mattelsa",
    description: "WEB",
    link: "https://www.mattelsa.net/",
    image: "/projects/app-mattelsa.jpeg",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.REACT,
      TAGS.VTEX,
    ],
  },
  {
    title: "Tienda Vine",
    description: "WEB",
    link: "https://www.vineonline.co.nz/",
    image: "/projects/app-vine.webp",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.REACT,
      TAGS.VTEX,
    ],
  },
  {
    title: "Tienda Supermall",
    description: "WEB",
    link: "https://www.supermall.pe/",
    image: "/projects/app-supermall.jpeg",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.REACT,
      TAGS.VTEX,
    ],
  },  
  {
    title: "App de Posts con Login",
    description: "WEB",
    link: "https://app-posts.netlify.app/",
    github: "https://github.com/DemcCode/reto-tita-media",
    image: "/projects/app-posts.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.REACT],
  },
  {
    title: "App para agendar Citas",
    description: "WEB",
    link: "https://app-agendamiento-citas.netlify.app/",
    github: "/",
    image: "/projects/app-citas.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ANGULAR],
  },
];
---

<div class="projects__content flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="projects__card flex flex-col space-x-0 group md:flex-row md:space-y-0">
        <div class="w-full h-full">
          <div class="projects__content-img relative h-full flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover w-full h-full transition duration-500 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="projects__info w-full md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <div class="mb-2 text-gray-100">{description}</div>
            <ul class="flex flex-row flex-wrap gap-1">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <footer class="flex items-end justify-start mt-4 gap-x-4">              
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
<style>
  .projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 333px;
  }
  .projects__info {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 1rem;
    border: 1px solid #545454;
    padding: 26px;
    background: linear-gradient(
      180deg,
      hsla(var(--hue), 24%, 40%, 0.3) 0%,
      hsla(var(--hue), 24%, 4%, 1) 95%
    );
  }
  .projects__content-img {
    border-radius: 1rem;
  }
</style>
