---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "Web Bancolombia Personas",
    description: "Sitio web Bancolombia Personas.",
    link: "https://www.bancolombia.com/personas",
    github: "/",
    image: "/projects/app-bancolombia-personas.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Tienda Juan Valdez",
    description: "Sitio web tienda Juán Valdez.",
    link: "https://www.tiendajuanvaldez.com/",
    github: "/",
    image: "/projects/app-juan-valdez.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Tienda Mattelsa",
    description: "Sitio web tienda Mattelsa.",
    link: "https://www.mattelsa.net/",
    github: "/",
    image: "/projects/app-mattelsa.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Tienda Vine",
    description: "Sitio web tienda Vineeeeee.",
    link: "https://www.vineonline.co.nz/",
    github: "/",
    image: "/projects/app-vine.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Tienda Supermall",
    description: "Sitio web tienda Supermall.",
    link: "https://www.supermall.pe/",
    github: "/",
    image: "/projects/app-supermall.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "App de Posts con Login",
    description: "Aplicación de posts con login y filtrado por categoría.",
    link: "https://reto-titamedia-demc.netlify.app/",
    github: "/",
    image: "/projects/app-posts.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "App de Citas",
    description: "Sitio web para agendar y eliminar citas.",
    link: "https://citas-demc.netlify.app/",
    github: "/",
    image: "/projects/app-citas.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Mi Portfolio",
    description: "Sitio web oficial de mi portfolio personal.",
    link: "https://portfolio-demc.netlify.app/",
    github: "https://github.com/DemcCode/portfolio.demccode",
    image: "/projects/app-portfolio-demccode.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  }
];
---

<div class="projects__content flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="projects__card flex flex-col space-x-0 group md:flex-row md:space-y-0">
        <div class="w-full h-full">
          <div class="projects__content-img relative h-full flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover w-full h-full transition duration-500 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="projects__info w-full md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-800 dark:text-gray-100">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
<style>
  .projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 333px;
  }
  .projects__info {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 1rem;
    padding: 26px;
    background: linear-gradient(180deg, hsla(var(--hue), 24%, 40%, .3) 0%, hsla(var(--hue), 24%, 4%, 1) 95%);
  }  
  .projects__content-img {
    border-radius: 1rem;
  }
</style>
